<div class="reg-content-wrapper">
  <h2 class="reg-header">Registered Students</h2>

  <div class="content-wrapper">
    <ul>
      <% aboutJob.registeredStudents.forEach(stu=> { %>
        <li>
          <%= stu %>
        </li>
        <% }); %>
    </ul>
  </div>
</div>