<section class="page error">
  <div class="section">
    <div class="status">
      <h1>
        <%= options.status %>
      </h1>
    </div>

    <div class="content">
      <h3>
        <%= options.title %>
      </h3>
      <p>
        <%= options.description %>
      </p>
      <a href="/" id="goback">Go to Home</a>
    </div>
  </div>
</section>