<div class="form-container">

  <div class="step-count">
    <span class="count">Step 3/6</span>
    <span class="draft-status"></span>
  </div>
  <div class="step-header">
    <h2 class="title">3. Describe all rounds involved in the hiring process</h2>
  </div>

  <div class="add-rounds">
    <p class="info-text">List all the rounds separately to give users a clear understanding of how they will proceed
      forward in this opportunity.</p>
    <button id="add-new-round">Add Round</button>
  </div>

  <form id="rounds-form"></form>

</div>
<div class="back-forth-container">
  <button id="next-section-button" type="submit" form="rounds-form" class="button navigator">Save &
    Continue</button>
</div>