main.viewjob-wrapper {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: #FAFCFF;
}
main.viewjob-wrapper::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
main.viewjob-wrapper::-webkit-scrollbar-corner {
  background-color: transparent;
}
main.viewjob-wrapper::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 8px;
}
main.viewjob-wrapper::-webkit-scrollbar-track {
  background: lightgray;
}
main.viewjob-wrapper .upper-banner {
  width: 100%;
  height: 100vh;
  border-bottom: 4px solid #704A97;
  background: linear-gradient(0deg, #F4FAFF 0%, #FFFFFF 100%);
  position: relative;
  z-index: 0;
}
main.viewjob-wrapper .upper-banner .navigation {
  width: 100%;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  z-index: 2;
}
main.viewjob-wrapper .upper-banner .navigation .goback {
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  padding-left: 14px;
}
main.viewjob-wrapper .upper-banner .navigation .goback button#goto-prev-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
  height: 45px;
  color: #656F7C;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 200ms ease;
}
main.viewjob-wrapper .upper-banner .navigation .goback button#goto-prev-page .icon {
  height: 30px;
  width: 30px;
  margin-right: 8px;
  padding-left: 8px;
}
main.viewjob-wrapper .upper-banner .navigation .goback button#goto-prev-page .icon svg {
  width: 24px;
  height: 20px;
}
main.viewjob-wrapper .upper-banner .navigation .goback button#goto-prev-page .text {
  flex: 1;
  font-size: 1em;
  font-weight: 600;
  margin-top: -6px;
}
main.viewjob-wrapper .upper-banner .navigation .goback button#goto-prev-page:hover {
  color: #0d2551;
}
main.viewjob-wrapper .upper-banner .navigation .goback button#goto-prev-page:hover .icon {
  padding-left: 0px;
}
main.viewjob-wrapper .upper-banner .navigation .goback button#goto-prev-page:focus, main.viewjob-wrapper .upper-banner .navigation .goback button#goto-prev-page:active {
  outline: 0;
}
main.viewjob-wrapper .upper-banner .banner-bg {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  transform: translateY(-50%);
}
main.viewjob-wrapper .upper-banner .banner-bg svg {
  display: block;
  width: auto;
  height: 425px;
}
main.viewjob-wrapper .upper-banner .details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}
main.viewjob-wrapper .upper-banner .details-container .basic-job-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: inherit;
  margin-bottom: 25px;
}
main.viewjob-wrapper .upper-banner .details-container .basic-job-details .job-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e1e6ef;
  width: 125px;
  height: 125px;
  border-radius: 8px;
  margin-bottom: 50px;
  padding: 0.65em;
}
main.viewjob-wrapper .upper-banner .details-container .basic-job-details .job-image .image {
  width: 100%;
  height: 100%;
  background: darkgray;
  border-radius: 6px;
}
main.viewjob-wrapper .upper-banner .details-container .basic-job-details .job-profile {
  font-size: 1.75em;
  color: #0d2551;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}
main.viewjob-wrapper .upper-banner .details-container .basic-job-details .company-name {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  color: #555;
  font-weight: 500;
  margin-bottom: 32px;
}
main.viewjob-wrapper .upper-banner .details-container .basic-job-details .job-datetime {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
main.viewjob-wrapper .upper-banner .details-container .basic-job-details .job-datetime svg {
  height: auto;
  width: 20px;
  margin-right: 10px;
  fill: #0a62ff;
  color: #0a62ff;
}
main.viewjob-wrapper .upper-banner .details-container .basic-job-details .job-datetime p {
  font-size: 0.875em;
  margin: 0;
  padding: 0;
  color: #656F7C;
}
main.viewjob-wrapper .upper-banner .details-container .basic-job-details .extra-details {
  display: flex;
  align-items: center;
}
main.viewjob-wrapper .upper-banner .details-container .basic-job-details .extra-details .location {
  display: flex;
  color: #656F7C;
  padding-right: 14px;
  border-right: 1px solid darkgray;
}
main.viewjob-wrapper .upper-banner .details-container .basic-job-details .extra-details .location svg {
  height: auto;
  width: 0.9em;
  color: #0a62ff;
  margin-right: 10px;
}
main.viewjob-wrapper .upper-banner .details-container .basic-job-details .extra-details .location p {
  margin: 0;
  padding: 0;
  color: #656F7C;
  font-size: 0.875em;
}
main.viewjob-wrapper .upper-banner .details-container .basic-job-details .extra-details .website {
  padding-left: 14px;
}
main.viewjob-wrapper .upper-banner .details-container .basic-job-details .extra-details .website a {
  color: #FAFCFF;
  background: #f64f3c;
  border-radius: 6px;
  padding: 6px 13px;
  font-size: 0.85em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  transition: all 100ms ease;
  border: 1px solid #f64f3c;
  cursor: pointer;
  z-index: inherit;
}
main.viewjob-wrapper .upper-banner .details-container .basic-job-details .extra-details .website a:hover {
  background: #FAFCFF;
  color: #f64f3c;
}
main.viewjob-wrapper .upper-banner .details-container .mark-complete {
  margin-bottom: 25px;
  z-index: 10;
}
main.viewjob-wrapper .upper-banner .details-container .mark-complete button#mark-as-registered {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  color: #FAFCFF;
  width: 200px;
  padding: 1em;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  opacity: 0.85;
  background: #40B995;
  transition: all 200ms ease;
  cursor: pointer;
  z-index: inherit;
}
main.viewjob-wrapper .upper-banner .details-container .mark-complete button#mark-as-registered:hover {
  background: #1da770;
}
main.viewjob-wrapper .upper-banner .details-container .mark-complete button#mark-as-registered.notreg {
  display: none;
}
main.viewjob-wrapper .upper-banner .details-container .mark-complete button#mark-as-registered.canreg {
  display: flex;
}
main.viewjob-wrapper .upper-banner .details-container .job-highlight {
  display: flex;
  background: white;
  height: 80px;
  padding: 1em;
  border: 2px solid #704A97;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 12px;
  z-index: 99;
}
main.viewjob-wrapper .upper-banner .details-container .job-highlight .deadline {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid darkgray;
}
main.viewjob-wrapper .upper-banner .details-container .job-highlight .deadline svg {
  width: auto;
  height: 1.85em;
  margin-right: 14px;
  color: #0a62ff;
}
main.viewjob-wrapper .upper-banner .details-container .job-highlight .deadline .details {
  display: flex;
  flex-direction: column;
  color: #656F7C;
}
main.viewjob-wrapper .upper-banner .details-container .job-highlight .deadline .details .title {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
main.viewjob-wrapper .upper-banner .details-container .job-highlight .deadline .details .text {
  font-size: 0.9em;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
main.viewjob-wrapper .upper-banner .details-container .job-highlight .end-time {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid darkgray;
}
main.viewjob-wrapper .upper-banner .details-container .job-highlight .end-time svg {
  margin-right: 10px;
  width: auto;
  height: 1.5em;
  color: #0a62ff;
}
main.viewjob-wrapper .upper-banner .details-container .job-highlight .end-time p {
  font-size: 0.9em;
  font-weight: 500;
  color: #656F7C;
  margin: 0;
  padding: 0;
}
main.viewjob-wrapper .upper-banner .details-container .job-highlight a#apply-now-btn {
  text-decoration: none;
  font-size: 0.875em;
  font-weight: 500;
  color: white;
  background: #704A97;
  width: 150px;
  transition: all 100ms ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.1em 1.5em;
  z-index: inherit;
  border-radius: 8px;
}
main.viewjob-wrapper .upper-banner .details-container .job-highlight a#apply-now-btn:hover {
  background-color: #624183;
}
main.viewjob-wrapper .upper-banner .divider {
  display: flex;
  height: 3px;
  width: 100%;
  padding: 0px 65px;
  margin-top: 25px;
  margin-bottom: 8px;
  background: transparent;
}
main.viewjob-wrapper .upper-banner .divider .visible {
  width: 65px;
  background: #0a62ff;
}
main.viewjob-wrapper .upper-banner .divider .invisible {
  flex: 1;
  background: transparent;
}
main.viewjob-wrapper .upper-banner .additional-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 6px 58px 6px 65px;
}
main.viewjob-wrapper .upper-banner .additional-details .eligibility {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
main.viewjob-wrapper .upper-banner .additional-details .eligibility .head {
  font-size: 1em;
  font-weight: 600;
  color: #656F7C;
}
main.viewjob-wrapper .upper-banner .additional-details .eligibility .head svg {
  width: auto;
  height: 1.35em;
  margin-right: 8px;
  margin-bottom: -6px;
}
main.viewjob-wrapper .upper-banner .additional-details .eligibility .tile {
  padding: 4px 12px;
  background: white;
  border: 1px solid #5060FF;
  color: #5060FF;
  font-size: 0.85em;
  border-radius: 4px;
  margin: 0px 6px;
}
main.viewjob-wrapper .upper-banner .additional-details .domains {
  display: flex;
  align-items: center;
}
main.viewjob-wrapper .upper-banner .additional-details .domains .chip {
  font-size: 0.85em;
  color: #0a62ff;
  font-weight: 600;
  background: white;
  padding: 4px 14px;
  border-radius: 50px;
  border: 1px solid #0a62ff;
  margin: 0px 6px;
}
