$primary-color: #0d2551;
$font-color: #656F7C;
$primary-bg: #0a62ff;
$primary-font: "Montserrat", sans-serif;
$primary-border: #e1e6ef;
$dash-bg: #F3F8FF;
$input-bg: #FAFCFF;
$link-bg: #EFF3F8;
$mark: #f64f3c;
$background: linear-gradient(270deg, #F6F1EC 0%, #FAFCFF 100%);

$db-l: #EEF2F5;
$db-d: #E9ECF1;

$profile-bg1: #858EF3;
$profile-bg2: #102689;
$profile-bg3: #FF732E;
$profile-bg4: #FFC37A;

$jobs-bg: #5060FF;
$jobs-bg-fade: rgba(82, 96, 255, 0.85);

$success-lt: #40B995;
$success-dark: #1da770;

$padding: 35px;
$font: 1em;

$alert-height: 62px;