<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=1024">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/auth.css" />
  <link rel="stylesheet" href="/css/notify.css" />
  <script src="/js/notify.js"></script>
</head>

<body>
  <div class="container">
    <div class="page auth">
      <div class="ui-wrapper top-left">
        <svg width="384" height="447" viewBox="0 0 384 447" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
            <path
              d="M236.732 22.9145C244.963 113.293 178.905 210.598 93.9428 244.403C8.98051 278.208 -95.2701 248.755 -151.769 182.694C-208.51 116.248 -217.813 13.1223 -174.146 -62.2523C-130.408 -137.94 -34.0843 -185.634 55.7213 -167.998C145.527 -150.361 228.43 -67.1511 236.732 22.9145Z"
              fill="#0A62FF" />
            <path
              d="M114.438 -76.793C148.696 -52.6751 199.811 -13.4709 200.094 28.9598C200.023 71.8526 148.833 117.933 110.796 123.429C72.4037 129.387 46.8779 94.7226 16.7937 91.0975C-13.2906 87.4723 -47.6475 114.926 -65.5699 101.226C-83.4923 87.5252 -84.8322 33.7129 -69.7173 0.0386821C-54.8882 -33.6748 -23.3874 -46.7095 -1.33017 -63.0854C20.6581 -78.96 33.1339 -97.6747 47.82 -102.806C62.8609 -108.399 80.1121 -100.41 114.438 -76.793Z"
              fill="#0D2551" />
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="767.592" height="767.592" fill="white" transform="translate(-384 -321)" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="ui-wrapper bottom-center">
        <svg width="812" height="411" viewBox="0 0 812 411" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M539.802 229.897C563 244.952 574.452 278.674 572.103 308.784C569.754 338.893 553.604 365.088 563.294 405.435C572.984 445.481 608.808 499.678 602.055 527.077C595.595 554.778 546.85 555.681 507.208 549.358C467.566 543.035 437.321 529.486 405.314 520.754C373.013 512.023 338.657 508.409 299.015 492.15C259.373 476.192 214.446 447.588 196.827 406.941C179.209 366.594 188.899 314.203 225.604 292.223C262.016 269.942 325.737 278.072 366.847 271.448C408.25 264.824 427.631 243.446 454.646 230.8C481.661 218.455 516.605 214.541 539.802 229.897Z"
            fill="#0A62FF" />
          <path
            d="M504.973 487.117C484.041 527.407 497.475 578.349 486.058 598.681C474.913 618.96 438.856 608.306 404.484 606.698C370.384 605.036 337.969 612.42 332.579 588.028C326.857 563.366 348.16 506.928 342.231 473.599C336.302 440.27 302.87 430.104 282.754 405.261C262.697 380.741 255.685 341.597 273.824 337.692C292.234 333.734 335.735 364.692 364.557 360.694C393.59 356.32 407.612 316.72 441.455 288.29C475.238 259.537 528.57 242.008 564.714 260.682C600.587 279.41 618.938 334.073 600.329 376.25C581.658 418.104 526.238 447.097 504.973 487.117Z"
            fill="#0D2551" />
        </svg>
      </div>
      <main>
        <div class="overlay">
          <div class="content">
            <div class="wrapper">
              <%- body %>
            </div>
          </div>
          <div class="auth-ui">
            <svg viewBox="0 0 500 500" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M258.06 121.91C244.21 136.85 237.06 156.62 229.28 175.44C221.5 194.26 211.9 213.51 195.14 225.1C183.24 233.33 164.84 229.48 151.99 236.1C131.3 246.82 123.09 255.91 118.1 278.67C112.16 305.73 157.38 374.76 200.89 390.88C227.56 400.75 264.8 395.81 285.48 376.3C306.16 356.79 302.8 318.64 306.27 290.42C308.78 270.09 307.46 248.98 314.39 229.71C320.53 212.64 332.79 198.19 338.3 180.9C345.63 157.9 339.14 127.27 320.16 111.22C301.52 95.49 273.11 105.66 258.06 121.91Z"
                fill="#407BFF" />
              <g opacity="0.9">
                <path opacity="0.9"
                  d="M258.06 121.91C244.21 136.85 237.06 156.62 229.28 175.44C221.5 194.26 211.9 213.51 195.14 225.1C183.24 233.33 164.84 229.48 151.99 236.1C131.3 246.82 123.09 255.91 118.1 278.67C112.16 305.73 157.38 374.76 200.89 390.88C227.56 400.75 264.8 395.81 285.48 376.3C306.16 356.79 302.8 318.64 306.27 290.42C308.78 270.09 307.46 248.98 314.39 229.71C320.53 212.64 332.79 198.19 338.3 180.9C345.63 157.9 339.14 127.27 320.16 111.22C301.52 95.49 273.11 105.66 258.06 121.91Z"
                  fill="white" stroke="white" stroke-miterlimit="10" />
              </g>
              <path
                d="M250 428.59C357.082 428.59 443.89 423.522 443.89 417.27C443.89 411.018 357.082 405.95 250 405.95C142.917 405.95 56.11 411.018 56.11 417.27C56.11 423.522 142.917 428.59 250 428.59Z"
                fill="#F5F5F5" />
              <path
                d="M147.47 229.276C156.69 219.645 155.645 203.683 145.136 193.624C134.628 183.564 118.635 183.216 109.416 192.847C100.197 202.478 101.242 218.44 111.75 228.499C122.258 238.559 138.251 238.907 147.47 229.276Z"
                fill="#D3F5FB" />
              <g opacity="0.8">
                <path opacity="0.8"
                  d="M147.47 229.276C156.69 219.645 155.645 203.683 145.136 193.624C134.628 183.564 118.635 183.216 109.416 192.847C100.197 202.478 101.242 218.44 111.75 228.499C122.258 238.559 138.251 238.907 147.47 229.276Z"
                  fill="white" />
              </g>
              <path
                d="M116.69 195.24C116.48 195.24 116.276 195.174 116.105 195.051C115.935 194.928 115.808 194.755 115.741 194.556C115.675 194.357 115.673 194.142 115.735 193.942C115.798 193.741 115.922 193.566 116.09 193.44C119.457 191.023 123.516 189.76 127.66 189.84V189.84C127.925 189.84 128.18 189.945 128.367 190.133C128.555 190.32 128.66 190.575 128.66 190.84C128.66 191.105 128.555 191.36 128.367 191.547C128.18 191.735 127.925 191.84 127.66 191.84C123.948 191.758 120.31 192.881 117.29 195.04C117.117 195.17 116.906 195.24 116.69 195.24V195.24Z"
                fill="#5A62B3" />
              <path
                d="M121.42 229.64C121.256 229.639 121.094 229.598 120.95 229.52C117.885 227.881 115.226 225.578 113.167 222.778C111.108 219.978 109.701 216.754 109.05 213.34C108.415 210.387 108.444 207.33 109.136 204.39C109.828 201.449 111.165 198.7 113.05 196.34C113.22 196.136 113.464 196.007 113.728 195.983C113.992 195.959 114.256 196.04 114.46 196.21C114.664 196.38 114.793 196.624 114.817 196.888C114.841 197.153 114.76 197.416 114.59 197.62C112.887 199.756 111.681 202.245 111.06 204.905C110.439 207.565 110.418 210.331 111 213C111.599 216.121 112.887 219.068 114.769 221.629C116.651 224.189 119.08 226.297 121.88 227.8C122.076 227.906 122.23 228.073 122.32 228.276C122.41 228.48 122.429 228.707 122.375 228.923C122.321 229.138 122.197 229.33 122.022 229.467C121.848 229.604 121.632 229.679 121.41 229.68L121.42 229.64Z"
                fill="#5A62B3" />
              <path
                d="M131.43 232.25C129.192 232.24 126.968 231.883 124.84 231.19C124.715 231.149 124.598 231.084 124.498 230.999C124.398 230.913 124.315 230.809 124.255 230.691C124.196 230.574 124.159 230.445 124.149 230.314C124.139 230.183 124.154 230.05 124.195 229.925C124.236 229.8 124.301 229.683 124.386 229.583C124.472 229.483 124.576 229.4 124.694 229.34C124.811 229.281 124.939 229.244 125.071 229.234C125.202 229.224 125.335 229.239 125.46 229.28C131.61 231.28 137.75 230.16 142.3 226.28C144.608 224.243 146.353 221.645 147.365 218.737C148.378 215.83 148.624 212.71 148.08 209.68C148.038 209.415 148.102 209.144 148.26 208.926C148.417 208.708 148.655 208.562 148.92 208.52C149.185 208.478 149.456 208.542 149.674 208.7C149.891 208.857 150.038 209.095 150.08 209.36C150.686 212.727 150.411 216.194 149.281 219.424C148.15 222.653 146.204 225.535 143.63 227.79C140.239 230.707 135.903 232.292 131.43 232.25V232.25Z"
                fill="#5A62B3" />
              <path
                d="M148.25 207.12C148.038 207.119 147.832 207.051 147.661 206.925C147.49 206.799 147.364 206.622 147.3 206.42C146.38 203.58 144.874 200.965 142.879 198.745C140.884 196.524 138.445 194.748 135.72 193.53C135.476 193.424 135.284 193.225 135.187 192.978C135.089 192.73 135.094 192.454 135.2 192.21C135.306 191.966 135.505 191.774 135.752 191.677C136 191.579 136.276 191.584 136.52 191.69C139.505 193.024 142.176 194.971 144.36 197.403C146.544 199.835 148.193 202.7 149.2 205.81C149.282 206.062 149.261 206.336 149.141 206.572C149.021 206.809 148.812 206.988 148.56 207.07C148.459 207.1 148.355 207.117 148.25 207.12V207.12Z"
                fill="#5A62B3" />
              <path
                d="M132.49 192.4C132.414 192.41 132.336 192.41 132.26 192.4C130.755 192.05 129.215 191.872 127.67 191.87C127.405 191.87 127.15 191.765 126.963 191.577C126.775 191.39 126.67 191.135 126.67 190.87C126.67 190.605 126.775 190.35 126.963 190.163C127.15 189.975 127.405 189.87 127.67 189.87C129.354 189.875 131.031 190.073 132.67 190.46C132.935 190.491 133.177 190.625 133.343 190.834C133.509 191.043 133.585 191.31 133.555 191.575C133.524 191.84 133.39 192.082 133.181 192.248C132.972 192.414 132.705 192.491 132.44 192.46L132.49 192.4Z"
                fill="#5A62B3" />
              <path
                d="M114.85 216.29C114.646 216.291 114.446 216.229 114.278 216.113C114.11 215.996 113.982 215.831 113.91 215.64C112.973 213.22 112.643 210.608 112.95 208.031C113.257 205.454 114.191 202.992 115.67 200.86C117.068 198.84 118.941 197.195 121.124 196.069C123.307 194.942 125.734 194.369 128.19 194.4C128.455 194.4 128.71 194.505 128.897 194.693C129.085 194.88 129.19 195.135 129.19 195.4C129.19 195.665 129.085 195.92 128.897 196.107C128.71 196.295 128.455 196.4 128.19 196.4C126.056 196.375 123.948 196.872 122.05 197.848C120.152 198.824 118.521 200.249 117.3 202C116.003 203.877 115.187 206.045 114.923 208.312C114.66 210.578 114.958 212.875 115.79 215C115.881 215.248 115.869 215.522 115.759 215.762C115.648 216.001 115.447 216.188 115.2 216.28C115.085 216.303 114.966 216.306 114.85 216.29Z"
                fill="#5A62B3" />
              <path
                d="M130.71 227.71C127.713 227.61 124.784 226.787 122.172 225.313C119.561 223.838 117.344 221.755 115.71 219.24C115.589 219.019 115.555 218.76 115.616 218.516C115.677 218.271 115.829 218.059 116.04 217.921C116.251 217.783 116.506 217.73 116.755 217.773C117.003 217.815 117.227 217.95 117.38 218.15C118.832 220.387 120.802 222.242 123.122 223.558C125.442 224.874 128.045 225.612 130.71 225.71C130.975 225.71 131.23 225.815 131.417 226.003C131.605 226.19 131.71 226.445 131.71 226.71C131.71 226.975 131.605 227.23 131.417 227.417C131.23 227.605 130.975 227.71 130.71 227.71Z"
                fill="#5A62B3" />
              <path
                d="M134.45 227.28C134.222 227.287 133.998 227.215 133.816 227.077C133.634 226.938 133.505 226.742 133.45 226.52C133.387 226.263 133.428 225.991 133.565 225.764C133.702 225.537 133.923 225.374 134.18 225.31C142.29 223.31 144.39 216.2 143.72 210.74C142.85 203.62 137.23 196.41 128.16 196.4C127.895 196.4 127.64 196.295 127.453 196.107C127.265 195.92 127.16 195.665 127.16 195.4C127.16 195.135 127.265 194.88 127.453 194.693C127.64 194.505 127.895 194.4 128.16 194.4C138.39 194.4 144.73 202.5 145.71 210.5C146.71 218.75 142.38 225.33 134.66 227.25C134.591 227.267 134.521 227.277 134.45 227.28Z"
                fill="#5A62B3" />
              <path
                d="M124.1 201.92C123.91 201.919 123.725 201.863 123.566 201.761C123.406 201.658 123.28 201.512 123.2 201.34C123.087 201.1 123.075 200.825 123.165 200.576C123.255 200.326 123.44 200.123 123.68 200.01C125.213 199.332 126.874 198.991 128.55 199.01C128.815 199.01 129.07 199.115 129.257 199.303C129.445 199.49 129.55 199.745 129.55 200.01C129.55 200.275 129.445 200.53 129.257 200.717C129.07 200.905 128.815 201.01 128.55 201.01C127.17 201.011 125.806 201.308 124.55 201.88C124.405 201.927 124.251 201.941 124.1 201.92Z"
                fill="#5A62B3" />
              <path
                d="M130.53 223.05C127.997 223.009 125.529 222.244 123.419 220.843C121.308 219.443 119.642 217.467 118.62 215.15C116.55 210.64 117.16 205.93 120.25 202.53C120.429 202.336 120.678 202.22 120.943 202.209C121.207 202.198 121.465 202.292 121.66 202.47C121.854 202.649 121.97 202.898 121.981 203.163C121.992 203.427 121.898 203.685 121.72 203.88C120.477 205.285 119.69 207.034 119.461 208.896C119.233 210.758 119.574 212.646 120.44 214.31C121.324 216.33 122.782 218.046 124.632 219.244C126.483 220.442 128.645 221.07 130.85 221.05C132.518 221.038 134.147 220.543 135.54 219.626C136.933 218.709 138.03 217.408 138.7 215.88C139.453 214.078 139.68 212.099 139.354 210.174C139.029 208.248 138.164 206.454 136.86 205C136.775 204.9 136.71 204.785 136.669 204.66C136.628 204.535 136.613 204.403 136.623 204.272C136.633 204.141 136.669 204.014 136.729 203.897C136.788 203.78 136.87 203.675 136.97 203.59C137.07 203.505 137.185 203.44 137.31 203.399C137.435 203.358 137.567 203.343 137.698 203.353C137.829 203.363 137.956 203.399 138.073 203.459C138.19 203.518 138.295 203.6 138.38 203.7C139.932 205.441 140.958 207.587 141.339 209.888C141.72 212.19 141.439 214.552 140.53 216.7C139.709 218.574 138.365 220.171 136.658 221.3C134.952 222.428 132.956 223.039 130.91 223.06L130.53 223.05Z"
                fill="#5A62B3" />
              <path
                d="M134.74 202.8C134.551 202.801 134.367 202.745 134.21 202.64C132.521 201.553 130.558 200.97 128.55 200.96C128.285 200.96 128.03 200.855 127.843 200.667C127.655 200.48 127.55 200.225 127.55 199.96C127.55 199.695 127.655 199.44 127.843 199.253C128.03 199.065 128.285 198.96 128.55 198.96C130.938 198.969 133.274 199.663 135.28 200.96C135.461 201.077 135.6 201.249 135.675 201.452C135.75 201.654 135.758 201.875 135.697 202.082C135.636 202.289 135.51 202.47 135.338 202.6C135.165 202.729 134.956 202.799 134.74 202.8V202.8Z"
                fill="#5A62B3" />
              <path
                d="M130 218.54C128.832 218.532 127.679 218.268 126.623 217.767C125.568 217.266 124.635 216.54 123.89 215.64C122.929 214.54 122.305 213.187 122.092 211.741C121.879 210.296 122.087 208.82 122.69 207.49C123.228 206.282 124.11 205.26 125.224 204.549C126.339 203.837 127.638 203.469 128.96 203.49V203.49C129.225 203.49 129.48 203.595 129.667 203.783C129.855 203.97 129.96 204.225 129.96 204.49C129.96 204.755 129.855 205.01 129.667 205.197C129.48 205.385 129.225 205.49 128.96 205.49C128.025 205.473 127.105 205.73 126.314 206.229C125.524 206.728 124.896 207.448 124.51 208.3C124.07 209.282 123.922 210.37 124.084 211.434C124.245 212.498 124.709 213.493 125.42 214.3C126.128 215.168 127.068 215.816 128.13 216.17C129.192 216.524 130.333 216.569 131.42 216.3C132.304 216.101 133.113 215.652 133.749 215.007C134.386 214.362 134.823 213.547 135.01 212.66C135.067 212.402 135.225 212.177 135.448 212.034C135.671 211.892 135.941 211.843 136.2 211.9C136.329 211.927 136.451 211.98 136.559 212.054C136.668 212.129 136.761 212.224 136.832 212.335C136.904 212.446 136.953 212.569 136.976 212.699C137 212.828 136.998 212.961 136.97 213.09C136.705 214.341 136.088 215.491 135.192 216.404C134.295 217.316 133.157 217.953 131.91 218.24C131.288 218.416 130.646 218.516 130 218.54Z"
                fill="#5A62B3" />
              <path
                d="M135.82 210.62C135.599 210.63 135.382 210.567 135.201 210.44C135.02 210.314 134.886 210.131 134.82 209.92C134.421 208.667 133.641 207.57 132.589 206.781C131.537 205.992 130.265 205.552 128.95 205.52C128.685 205.52 128.43 205.415 128.243 205.227C128.055 205.04 127.95 204.785 127.95 204.52C127.95 204.255 128.055 204 128.243 203.813C128.43 203.625 128.685 203.52 128.95 203.52C130.689 203.559 132.372 204.138 133.766 205.177C135.161 206.217 136.196 207.665 136.73 209.32C136.77 209.445 136.786 209.578 136.775 209.709C136.764 209.84 136.727 209.968 136.667 210.085C136.606 210.202 136.524 210.306 136.423 210.391C136.322 210.476 136.206 210.54 136.08 210.58C135.995 210.605 135.908 210.618 135.82 210.62V210.62Z"
                fill="#5A62B3" />
              <path
                d="M130.27 214.38C130.005 214.38 129.75 214.275 129.563 214.087C129.375 213.9 129.27 213.645 129.27 213.38C129.27 213.115 129.375 212.86 129.563 212.673C129.75 212.485 130.005 212.38 130.27 212.38C130.407 212.38 130.542 212.353 130.667 212.299C130.792 212.245 130.905 212.166 130.999 212.066C131.093 211.967 131.165 211.849 131.212 211.721C131.258 211.593 131.278 211.456 131.27 211.32C131.275 211.125 131.242 210.931 131.172 210.75C131.101 210.568 130.996 210.402 130.861 210.262C130.726 210.121 130.564 210.009 130.386 209.931C130.207 209.854 130.015 209.813 129.82 209.81C129.673 209.814 129.529 209.847 129.395 209.907C129.261 209.967 129.14 210.053 129.04 210.16C128.937 210.281 128.86 210.421 128.812 210.572C128.764 210.723 128.746 210.882 128.76 211.04C128.768 211.171 128.75 211.303 128.707 211.427C128.664 211.552 128.597 211.666 128.51 211.765C128.422 211.863 128.316 211.943 128.198 212.001C128.08 212.058 127.951 212.092 127.82 212.1C127.689 212.108 127.557 212.09 127.433 212.047C127.308 212.004 127.194 211.937 127.095 211.85C126.997 211.762 126.917 211.656 126.859 211.538C126.802 211.42 126.768 211.291 126.76 211.16C126.724 210.74 126.775 210.318 126.909 209.919C127.042 209.519 127.256 209.151 127.537 208.838C127.818 208.524 128.16 208.271 128.542 208.094C128.925 207.917 129.339 207.821 129.76 207.81C130.218 207.811 130.671 207.903 131.093 208.081C131.515 208.259 131.897 208.518 132.218 208.845C132.539 209.171 132.792 209.558 132.962 209.983C133.132 210.408 133.217 210.862 133.21 211.32C133.218 211.719 133.146 212.116 132.999 212.486C132.852 212.857 132.632 213.195 132.353 213.48C132.073 213.765 131.74 213.992 131.372 214.146C131.004 214.301 130.609 214.38 130.21 214.38H130.27Z"
                fill="#5A62B3" />
              <path
                d="M156 211.05C157.22 224.98 146.91 236.27 133 236.27H131.92C145.18 235.59 154.81 224.57 153.63 211.08C152.949 204.477 149.954 198.328 145.176 193.719C140.397 189.111 134.143 186.342 127.52 185.9C127.87 185.9 128.23 185.9 128.59 185.9C142.54 185.84 154.82 197.13 156 211.05Z"
                fill="#5A62B3" />
              <g opacity="0.4">
                <path opacity="0.4"
                  d="M156 211.05C157.22 224.98 146.91 236.27 133 236.27H131.92C145.18 235.59 154.81 224.57 153.63 211.08C152.949 204.477 149.954 198.328 145.176 193.719C140.397 189.111 134.143 186.342 127.52 185.9C127.87 185.9 128.23 185.9 128.59 185.9C142.54 185.84 154.82 197.13 156 211.05Z"
                  fill="white" />
              </g>
              <path
                d="M318.42 334.14C318.445 334.439 318.485 334.736 318.54 335.03C318.917 336.957 319.906 338.71 321.36 340.03C323.007 341.572 325.174 342.44 327.43 342.46H411.92C412.906 342.48 413.887 342.303 414.804 341.941C415.721 341.579 416.558 341.037 417.264 340.349C417.97 339.66 418.532 338.838 418.918 337.93C419.304 337.022 419.505 336.046 419.51 335.06C419.525 334.764 419.525 334.466 419.51 334.17C419.274 331.931 418.23 329.855 416.574 328.331C414.917 326.806 412.761 325.939 410.51 325.89H326C324.941 325.869 323.889 326.073 322.914 326.489C321.94 326.905 321.065 327.524 320.348 328.304C319.631 329.085 319.089 330.009 318.756 331.015C318.424 332.021 318.309 333.086 318.42 334.14V334.14Z"
                fill="#5A62B3" />
              <path opacity="0.8"
                d="M318.42 334.14C318.445 334.439 318.485 334.736 318.54 335.03C318.917 336.957 319.906 338.71 321.36 340.03C323.007 341.572 325.174 342.44 327.43 342.46H411.92C412.906 342.48 413.887 342.303 414.804 341.941C415.721 341.579 416.558 341.037 417.264 340.349C417.97 339.66 418.532 338.838 418.918 337.93C419.304 337.022 419.505 336.046 419.51 335.06C419.525 334.764 419.525 334.466 419.51 334.17C419.274 331.931 418.23 329.855 416.574 328.331C414.917 326.806 412.761 325.939 410.51 325.89H326C324.941 325.869 323.889 326.073 322.914 326.489C321.94 326.905 321.065 327.524 320.348 328.304C319.631 329.085 319.089 330.009 318.756 331.015C318.424 332.021 318.309 333.086 318.42 334.14V334.14Z"
                fill="white" />
              <path
                d="M419.51 335C419.51 335.268 419.49 335.535 419.45 335.8C419.152 333.612 418.081 331.602 416.43 330.135C414.779 328.668 412.658 327.839 410.45 327.8L320.62 328C321.332 327.307 322.174 326.762 323.097 326.395C324.02 326.027 325.007 325.846 326 325.86H410.49C412.741 325.908 414.897 326.776 416.554 328.3C418.21 329.825 419.254 331.901 419.49 334.14C419.511 334.426 419.517 334.713 419.51 335V335Z"
                fill="#407BFF" />
              <path opacity="0.5"
                d="M419.51 335C419.51 335.268 419.49 335.535 419.45 335.8C419.152 333.612 418.081 331.602 416.43 330.135C414.779 328.668 412.658 327.839 410.45 327.8L320.62 328C321.332 327.307 322.174 326.762 323.097 326.395C324.02 326.027 325.007 325.846 326 325.86H410.49C412.741 325.908 414.897 326.776 416.554 328.3C418.21 329.825 419.254 331.901 419.49 334.14C419.511 334.426 419.517 334.713 419.51 335V335Z"
                fill="white" />
              <path
                d="M405 329.86L405.36 333.86L409.12 332.46L410.01 334.46L406.17 335.74L408.93 339.13L407.2 340.4L404.51 336.88L402.51 340.4L400.62 339.13L402.75 335.74L398.75 334.46L399.29 332.46L403.34 333.81L402.98 329.81L405 329.86Z"
                fill="#FF9A6F" />
              <path
                d="M381.85 329.86L382.21 333.86L385.97 332.46L386.87 334.46L383 335.77L385.76 339.16L384.04 340.43L381.35 336.91L379.35 340.43L377.45 339.16L379.59 335.77L375.59 334.49L376.13 332.49L380.18 333.84L379.83 329.84L381.85 329.86Z"
                fill="#FF9A6F" />
              <path
                d="M358.75 329.86L359.1 333.86L362.86 332.46L363.76 334.46L359.91 335.74L362.67 339.13L361 340.43L358.31 336.91L356.31 340.43L354.42 339.16L356.55 335.77L352.55 334.49L353.1 332.49L357.1 333.84L356.75 329.84L358.75 329.86Z"
                fill="#FF9A6F" />
              <path
                d="M335.64 329.86L335.99 333.86L339.76 332.46L340.65 334.46L336.8 335.74L339.57 339.13L337.84 340.4L335.15 336.88L333.15 340.4L331.26 339.13L333.39 335.74L329.39 334.46L329.93 332.46L333.93 333.81L333.58 329.81L335.64 329.86Z"
                fill="#FF9A6F" />
              <path d="M391.65 321.94H387.71V322.94H391.65V321.94Z" fill="#407BFF" />
              <path d="M408.58 321.94H395.73V322.94H408.58V321.94Z" fill="#407BFF" />
              <path opacity="0.8"
                d="M397.79 113.24L393.7 160C393.542 161.492 392.846 162.876 391.742 163.892C390.637 164.908 389.2 165.487 387.7 165.52H355.23C354.527 165.524 353.832 165.379 353.188 165.096C352.545 164.813 351.969 164.398 351.497 163.877C351.025 163.356 350.669 162.741 350.45 162.073C350.232 161.405 350.157 160.699 350.23 160L354.32 113.23C354.471 111.735 355.166 110.348 356.272 109.33C357.377 108.313 358.818 107.737 360.32 107.71H392.79C393.494 107.706 394.19 107.851 394.834 108.134C395.478 108.418 396.055 108.835 396.527 109.357C396.999 109.879 397.355 110.494 397.573 111.163C397.791 111.833 397.865 112.54 397.79 113.24V113.24Z"
                fill="#407BFF" />
              <path opacity="0.8"
                d="M397.79 113.24L393.7 160C393.542 161.492 392.846 162.876 391.742 163.892C390.637 164.908 389.2 165.487 387.7 165.52H355.23C354.527 165.524 353.832 165.379 353.188 165.096C352.545 164.813 351.969 164.398 351.497 163.877C351.025 163.356 350.669 162.741 350.45 162.073C350.232 161.405 350.157 160.699 350.23 160L354.32 113.23C354.471 111.735 355.166 110.348 356.272 109.33C357.377 108.313 358.818 107.737 360.32 107.71H392.79C393.494 107.706 394.19 107.851 394.834 108.134C395.478 108.418 396.055 108.835 396.527 109.357C396.999 109.879 397.355 110.494 397.573 111.163C397.791 111.833 397.865 112.54 397.79 113.24V113.24Z"
                fill="white" />
              <path
                d="M357.28 120.78H357.19C356.926 120.757 356.682 120.631 356.512 120.428C356.341 120.226 356.258 119.964 356.28 119.7L356.66 115.42C356.683 115.171 356.798 114.939 356.983 114.77C357.168 114.602 357.41 114.509 357.66 114.51H362.18C362.445 114.51 362.7 114.615 362.887 114.803C363.075 114.99 363.18 115.245 363.18 115.51C363.18 115.775 363.075 116.03 362.887 116.217C362.7 116.405 362.445 116.51 362.18 116.51H358.58L358.28 119.87C358.257 120.119 358.142 120.351 357.957 120.52C357.772 120.688 357.53 120.781 357.28 120.78Z"
                fill="#23B142" />
              <path
                d="M393.64 120.78H393.55C393.286 120.757 393.042 120.631 392.872 120.428C392.701 120.226 392.618 119.964 392.64 119.7L392.92 116.51H389.5C389.235 116.51 388.98 116.405 388.793 116.217C388.605 116.03 388.5 115.775 388.5 115.51C388.5 115.245 388.605 114.99 388.793 114.803C388.98 114.615 389.235 114.51 389.5 114.51H394C394.139 114.509 394.277 114.538 394.405 114.594C394.532 114.65 394.647 114.731 394.741 114.834C394.835 114.937 394.907 115.058 394.951 115.19C394.996 115.322 395.013 115.461 395 115.6L394.62 119.87C394.598 120.116 394.485 120.345 394.305 120.513C394.124 120.681 393.887 120.776 393.64 120.78V120.78Z"
                fill="#23B142" />
              <path
                d="M359 153.05H354.48C354.343 153.05 354.207 153.021 354.082 152.966C353.956 152.911 353.843 152.831 353.75 152.73C353.656 152.628 353.585 152.508 353.54 152.377C353.496 152.246 353.478 152.108 353.49 151.97L353.86 147.69C353.883 147.425 354.009 147.179 354.213 147.008C354.416 146.836 354.68 146.752 354.945 146.775C355.21 146.798 355.456 146.924 355.627 147.128C355.799 147.331 355.883 147.595 355.86 147.86L355.58 151.05H359C359.265 151.05 359.52 151.155 359.707 151.343C359.895 151.53 360 151.785 360 152.05C360 152.315 359.895 152.57 359.707 152.757C359.52 152.945 359.265 153.05 359 153.05Z"
                fill="#23B142" />
              <path
                d="M390.81 153.05H386.3C386.035 153.05 385.78 152.945 385.593 152.757C385.405 152.57 385.3 152.315 385.3 152.05C385.3 151.785 385.405 151.53 385.593 151.343C385.78 151.155 386.035 151.05 386.3 151.05H389.9L390.19 147.69C390.213 147.426 390.339 147.182 390.542 147.012C390.744 146.841 391.006 146.758 391.27 146.78C391.534 146.803 391.778 146.929 391.948 147.132C392.119 147.334 392.202 147.596 392.18 147.86L391.81 152.14C391.787 152.389 391.672 152.621 391.487 152.79C391.302 152.958 391.06 153.051 390.81 153.05Z"
                fill="#23B142" />
              <path
                d="M387.368 136.927C389.626 128.172 385.751 119.604 378.713 117.789C371.675 115.974 364.139 121.6 361.882 130.354C359.624 139.109 363.5 147.677 370.537 149.492C377.575 151.307 385.111 145.681 387.368 136.927Z"
                fill="white" />
              <path d="M378.55 158.53H365.6L366.73 145.58H379.68L378.55 158.53Z" fill="white" />
              <path
                d="M393.7 160C393.542 161.492 392.846 162.876 391.742 163.892C390.637 164.908 389.2 165.487 387.7 165.52H355.23C354.527 165.524 353.832 165.379 353.188 165.096C352.545 164.813 351.969 164.398 351.497 163.877C351.025 163.356 350.669 162.741 350.45 162.073C350.232 161.405 350.157 160.699 350.23 160C350.23 160 365.15 155.28 366.99 155.28H378.52L393.7 160Z"
                fill="white" />
              <path d="M399.676 126.905L398.163 145.273L399.159 145.355L400.673 126.988L399.676 126.905Z"
                fill="#407BFF" />
              <path d="M400.728 118.5L400.431 122.108L401.427 122.19L401.724 118.582L400.728 118.5Z" fill="#407BFF" />
              <path d="M365.88 230.07H361.94V231.07H365.88V230.07Z" fill="#407BFF" />
              <path d="M382.81 230.07H369.96V231.07H382.81V230.07Z" fill="#407BFF" />
              <path
                d="M406.33 213L403.84 241.5C403.711 242.76 403.124 243.928 402.192 244.785C401.26 245.642 400.046 246.127 398.78 246.15C398.184 246.161 397.593 246.044 397.046 245.809C396.499 245.573 396.008 245.224 395.606 244.784C395.204 244.344 394.9 243.824 394.714 243.258C394.529 242.692 394.466 242.092 394.53 241.5L397 213C397.23 210.874 397.005 208.724 396.341 206.692C395.677 204.66 394.588 202.792 393.146 201.213C391.705 199.634 389.945 198.379 387.982 197.532C386.019 196.685 383.898 196.265 381.76 196.3H371.6C367.056 196.386 362.7 198.132 359.355 201.208C356.01 204.285 353.906 208.479 353.44 213L352.44 224.64H343.14L344.14 213C345.39 198.66 358.08 187 372.41 187H382.61C385.938 186.945 389.24 187.599 392.296 188.917C395.352 190.236 398.092 192.19 400.336 194.649C402.579 197.108 404.274 200.016 405.307 203.179C406.341 206.343 406.689 209.691 406.33 213V213Z"
                fill="#5756B3" />
              <g opacity="0.5">
                <path opacity="0.5"
                  d="M406.33 213L403.84 241.5C403.711 242.76 403.124 243.928 402.192 244.785C401.26 245.642 400.046 246.127 398.78 246.15C398.184 246.161 397.593 246.044 397.046 245.809C396.499 245.573 396.008 245.224 395.606 244.784C395.204 244.344 394.9 243.824 394.714 243.258C394.529 242.692 394.466 242.092 394.53 241.5L397 213C397.23 210.874 397.005 208.724 396.341 206.692C395.677 204.66 394.588 202.792 393.146 201.213C391.705 199.634 389.945 198.379 387.982 197.532C386.019 196.685 383.898 196.265 381.76 196.3H371.6C367.056 196.386 362.7 198.132 359.355 201.208C356.01 204.285 353.906 208.479 353.44 213L352.44 224.64H343.14L344.14 213C345.39 198.66 358.08 187 372.41 187H382.61C385.938 186.945 389.24 187.599 392.296 188.917C395.352 190.236 398.092 192.19 400.336 194.649C402.579 197.108 404.274 200.016 405.307 203.179C406.341 206.343 406.689 209.691 406.33 213V213Z"
                  fill="white" />
              </g>
              <path
                d="M407 240.46L402.15 296C401.974 297.722 401.172 299.32 399.897 300.49C398.621 301.66 396.961 302.322 395.23 302.35H339.69C338.877 302.365 338.069 302.206 337.322 301.885C336.575 301.563 335.904 301.086 335.355 300.485C334.807 299.885 334.392 299.174 334.14 298.401C333.887 297.627 333.802 296.809 333.89 296L338.75 240.46C338.862 239.353 339.233 238.287 339.835 237.351C340.436 236.414 341.25 235.633 342.21 235.07C343.253 234.432 344.448 234.086 345.67 234.07H401.2C402.335 234.064 403.448 234.379 404.41 234.98C405.308 235.562 406.027 236.384 406.484 237.352C406.942 238.32 407.12 239.396 407 240.46V240.46Z"
                fill="#5756B3" />
              <path
                d="M349.25 264.72L363.68 286.93L411.27 239.34C411.344 239.252 411.383 239.14 411.381 239.025C411.379 238.91 411.337 238.8 411.26 238.714C411.184 238.628 411.08 238.572 410.966 238.557C410.852 238.542 410.736 238.567 410.64 238.63L365.29 274.18L356.72 260.37L349.25 264.72Z"
                fill="white" />
              <path
                d="M122 157.31H85.82C84.1459 157.28 82.541 156.637 81.3084 155.504C80.0757 154.371 79.3008 152.826 79.13 151.16L76 115C75.9131 114.217 75.9942 113.424 76.2379 112.675C76.4816 111.926 76.8823 111.238 77.4132 110.656C77.9442 110.073 78.5931 109.611 79.3168 109.3C80.0405 108.989 80.8223 108.835 81.61 108.85H117.75C119.418 108.888 121.014 109.534 122.239 110.667C123.464 111.799 124.232 113.34 124.4 115L127.56 151.14C127.649 151.92 127.572 152.711 127.332 153.459C127.093 154.207 126.697 154.895 126.171 155.479C125.646 156.062 125.002 156.527 124.283 156.843C123.563 157.159 122.785 157.318 122 157.31V157.31Z"
                fill="#407BFF" />
              <path opacity="0.8"
                d="M122 157.31H85.82C84.1459 157.28 82.541 156.637 81.3084 155.504C80.0757 154.371 79.3008 152.826 79.13 151.16L76 115C75.9131 114.217 75.9942 113.424 76.2379 112.675C76.4816 111.926 76.8823 111.238 77.4132 110.656C77.9442 110.073 78.5931 109.611 79.3168 109.3C80.0405 108.989 80.8223 108.835 81.61 108.85H117.75C119.418 108.888 121.014 109.534 122.239 110.667C123.464 111.799 124.232 113.34 124.4 115L127.56 151.14C127.649 151.92 127.572 152.711 127.332 153.459C127.093 154.207 126.697 154.895 126.171 155.479C125.646 156.062 125.002 156.527 124.283 156.843C123.563 157.159 122.785 157.318 122 157.31V157.31Z"
                fill="white" />
              <path
                d="M79.15 136.73C79.15 136.73 92 118.84 101.46 119.3C110.92 119.76 126.64 136.3 126.64 136.3C126.64 136.3 103.47 148.47 79.15 136.73Z"
                fill="white" />
              <path
                d="M79.56 137L78.75 136.42C79.27 135.69 91.52 118.77 101.1 118.77H101.49C111.05 119.23 126.35 135.25 127 135.93L126.28 136.62C126.12 136.46 110.6 120.21 101.44 119.77H101.1C92 119.79 79.68 136.85 79.56 137Z"
                fill="#263238" />
              <path
                d="M77.82 137.36C75.88 137.36 73.36 136.64 72.47 133.9C72.429 133.774 72.4396 133.637 72.4996 133.519C72.5596 133.401 72.6641 133.311 72.79 133.27C72.8523 133.248 72.9184 133.239 72.9842 133.244C73.05 133.248 73.1143 133.266 73.1731 133.296C73.232 133.326 73.2842 133.367 73.3266 133.418C73.369 133.468 73.4008 133.527 73.42 133.59C74.57 137.13 78.87 136.28 79.05 136.24C79.1797 136.216 79.3136 136.243 79.4236 136.316C79.5336 136.389 79.6112 136.501 79.64 136.63C79.6531 136.694 79.6535 136.761 79.641 136.825C79.6285 136.89 79.6034 136.951 79.5672 137.006C79.531 137.061 79.4844 137.108 79.4299 137.144C79.3755 137.181 79.3144 137.207 79.25 137.22C78.779 137.313 78.3001 137.36 77.82 137.36V137.36Z"
                fill="#263238" />
              <path
                d="M85.45 129.68C85.3384 129.682 85.2293 129.647 85.14 129.58C84.99 129.46 81.44 126.72 80.54 123.93C80.499 123.804 80.5097 123.667 80.5697 123.549C80.6296 123.431 80.7341 123.341 80.86 123.3C80.986 123.262 81.122 123.274 81.2394 123.333C81.3568 123.393 81.4466 123.496 81.49 123.62C82.3 126.11 85.71 128.76 85.75 128.78C85.8546 128.861 85.9227 128.98 85.9396 129.111C85.9565 129.243 85.9206 129.375 85.84 129.48C85.7945 129.541 85.7357 129.59 85.6681 129.625C85.6005 129.66 85.5259 129.679 85.45 129.68Z"
                fill="#263238" />
              <path
                d="M92.79 122.87C92.659 122.862 92.5358 122.806 92.4449 122.711C92.3541 122.617 92.3023 122.491 92.3 122.36C91.716 120.182 90.9912 118.044 90.13 115.96C89.88 115.3 89.7 114.82 89.66 114.7C89.6401 114.636 89.6331 114.569 89.6395 114.503C89.6459 114.436 89.6655 114.372 89.6972 114.313C89.7289 114.255 89.772 114.203 89.824 114.161C89.876 114.119 89.9358 114.088 90 114.07C90.063 114.052 90.1291 114.046 90.1943 114.053C90.2596 114.06 90.3228 114.08 90.3804 114.112C90.438 114.143 90.4888 114.186 90.5299 114.237C90.571 114.288 90.6016 114.347 90.62 114.41C90.62 114.53 90.83 114.97 91.06 115.6C92.46 119.27 93.32 121.68 93.3 122.38C93.3 122.446 93.2867 122.511 93.2609 122.572C93.235 122.633 93.1971 122.688 93.1495 122.734C93.1018 122.779 93.0454 122.815 92.9836 122.839C92.9219 122.862 92.856 122.873 92.79 122.87V122.87Z"
                fill="#263238" />
              <path
                d="M101.46 119.8C101.335 119.796 101.216 119.747 101.124 119.663C101.033 119.578 100.974 119.464 100.96 119.34L100.26 111.34C100.248 111.207 100.289 111.075 100.375 110.973C100.46 110.871 100.582 110.807 100.715 110.795C100.848 110.783 100.98 110.824 101.082 110.91C101.184 110.995 101.248 111.117 101.26 111.25L101.96 119.31C101.969 119.441 101.927 119.569 101.843 119.67C101.759 119.77 101.64 119.835 101.51 119.85L101.46 119.8Z"
                fill="#263238" />
              <path
                d="M128.14 136.81C127.651 136.812 127.162 136.772 126.68 136.69C126.616 136.677 126.555 136.651 126.5 136.614C126.446 136.578 126.399 136.531 126.363 136.476C126.327 136.421 126.301 136.36 126.289 136.295C126.277 136.231 126.277 136.164 126.29 136.1C126.301 136.035 126.324 135.974 126.36 135.919C126.395 135.864 126.441 135.816 126.496 135.78C126.55 135.743 126.611 135.718 126.676 135.706C126.74 135.694 126.806 135.695 126.87 135.71C126.87 135.71 129.32 136.18 130.82 135.12C131.141 134.886 131.408 134.587 131.605 134.243C131.802 133.898 131.923 133.515 131.96 133.12C131.97 133.054 131.993 132.991 132.027 132.934C132.061 132.877 132.106 132.828 132.159 132.788C132.213 132.749 132.274 132.72 132.338 132.704C132.402 132.688 132.469 132.685 132.535 132.695C132.601 132.705 132.664 132.728 132.721 132.762C132.778 132.796 132.827 132.841 132.867 132.894C132.906 132.948 132.935 133.009 132.951 133.073C132.967 133.137 132.97 133.204 132.96 133.27C132.9 133.796 132.73 134.304 132.461 134.76C132.192 135.217 131.831 135.612 131.4 135.92C130.428 136.539 129.292 136.85 128.14 136.81V136.81Z"
                fill="#263238" />
              <path
                d="M119.16 129.15C119.09 129.151 119.02 129.136 118.956 129.106C118.892 129.077 118.835 129.034 118.79 128.98C118.743 128.934 118.706 128.878 118.681 128.817C118.655 128.756 118.642 128.691 118.642 128.625C118.642 128.559 118.655 128.494 118.681 128.433C118.706 128.372 118.743 128.317 118.79 128.27C118.79 128.27 121.79 125.63 122.11 123.17C122.132 123.04 122.204 122.923 122.31 122.845C122.417 122.767 122.549 122.733 122.68 122.75C122.745 122.76 122.808 122.782 122.864 122.816C122.92 122.85 122.969 122.895 123.008 122.948C123.047 123.001 123.075 123.061 123.091 123.125C123.107 123.189 123.11 123.255 123.1 123.32C122.68 126.14 119.58 128.9 119.45 129.02C119.372 129.096 119.269 129.143 119.16 129.15V129.15Z"
                fill="#263238" />
              <path
                d="M110.71 123.34H110.62C110.49 123.316 110.374 123.241 110.297 123.133C110.221 123.025 110.19 122.891 110.21 122.76C110.21 122.7 111.31 116.27 111.51 114.95C111.52 114.884 111.543 114.821 111.577 114.764C111.611 114.707 111.656 114.658 111.709 114.618C111.763 114.579 111.824 114.55 111.888 114.534C111.952 114.518 112.019 114.515 112.085 114.525C112.151 114.535 112.214 114.558 112.271 114.592C112.328 114.626 112.377 114.671 112.417 114.724C112.456 114.778 112.485 114.839 112.501 114.903C112.517 114.967 112.52 115.034 112.51 115.1C112.31 116.43 111.22 122.87 111.21 122.93C111.189 123.046 111.127 123.152 111.035 123.227C110.944 123.302 110.828 123.342 110.71 123.34V123.34Z"
                fill="#263238" />
              <path
                d="M111.004 138.825C115.144 134.5 114.671 127.329 109.947 122.807C105.223 118.285 98.0381 118.125 93.8982 122.45C89.7583 126.774 90.2314 133.946 94.955 138.468C99.6786 142.99 106.864 143.15 111.004 138.825Z"
                fill="#407BFF" />
              <path opacity="0.3"
                d="M107.14 130.63C107.155 130.377 107.155 130.123 107.14 129.87C107.006 128.566 106.398 127.357 105.433 126.471C104.467 125.584 103.21 125.082 101.9 125.06C101.284 125.049 100.673 125.17 100.107 125.414C99.5414 125.657 99.034 126.019 98.6188 126.474C98.2035 126.929 97.8899 127.467 97.6987 128.052C97.5075 128.638 97.4432 129.258 97.51 129.87C97.5265 130.128 97.5735 130.383 97.65 130.63H91.13C90.9706 129.188 91.1204 127.729 91.5693 126.349C92.0182 124.97 92.7559 123.702 93.7333 122.629C94.7108 121.557 95.9054 120.706 97.2378 120.132C98.5701 119.558 100.009 119.274 101.46 119.3C104.544 119.357 107.501 120.541 109.772 122.628C112.044 124.715 113.473 127.562 113.79 130.63H107.14Z"
                fill="black" />
              <path opacity="0.7"
                d="M107.13 129.87C107.145 130.123 107.145 130.377 107.13 130.63C107.058 131.743 106.559 132.786 105.738 133.54C104.916 134.295 103.835 134.703 102.72 134.68C101.544 134.658 100.409 134.249 99.4888 133.517C98.5688 132.785 97.9155 131.771 97.63 130.63C97.5535 130.383 97.5065 130.128 97.49 129.87C97.4232 129.258 97.4875 128.638 97.6787 128.052C97.8699 127.467 98.1835 126.929 98.5988 126.474C99.0141 126.019 99.5214 125.657 100.087 125.414C100.653 125.17 101.264 125.049 101.88 125.06C103.192 125.08 104.451 125.581 105.419 126.467C106.387 127.354 106.995 128.565 107.13 129.87V129.87Z"
                fill="black" />
              <path opacity="0.7"
                d="M109.74 125.15C109.794 125.649 109.741 126.154 109.585 126.631C109.429 127.108 109.173 127.547 108.834 127.918C108.496 128.288 108.082 128.583 107.621 128.782C107.16 128.98 106.662 129.079 106.16 129.07C105.094 129.049 104.072 128.639 103.288 127.917C102.503 127.195 102.01 126.211 101.9 125.15C101.844 124.65 101.896 124.145 102.052 123.667C102.207 123.189 102.463 122.75 102.802 122.379C103.141 122.008 103.555 121.713 104.017 121.515C104.479 121.317 104.978 121.22 105.48 121.23C106.547 121.249 107.569 121.659 108.354 122.381C109.14 123.103 109.632 124.089 109.74 125.15Z"
                fill="white" />
              <path d="M94.26 104.38H90.32V105.38H94.26V104.38Z" fill="#407BFF" />
              <path d="M111.19 104.38H98.34V105.38H111.19V104.38Z" fill="#407BFF" />
              <path
                d="M276 177.65L276.34 178.06L276.8 178.59C277.13 178.94 277.45 179.31 277.8 179.65C278.49 180.37 279.24 181.07 280 181.78C281.519 183.181 283.111 184.499 284.77 185.73C286.46 186.99 288.24 188.14 290.02 189.28C291.02 189.82 291.84 190.39 292.78 190.91L294.95 192.11C295.265 192.249 295.62 192.27 295.95 192.17C296.65 191.96 300.67 187.98 301.95 186.5C304.79 183.25 309.09 178.97 311.41 175.33L314 178.9C312.363 183.36 310.19 187.604 307.53 191.54C306.099 193.668 304.383 195.589 302.43 197.25C301.257 198.238 299.934 199.031 298.51 199.6C296.705 200.32 294.723 200.47 292.83 200.03C292.341 199.911 291.862 199.75 291.4 199.55L290.5 199.16L288.88 198.42C287.79 197.94 286.74 197.36 285.68 196.83C283.561 195.699 281.504 194.454 279.52 193.1C277.52 191.724 275.6 190.235 273.77 188.64C272.82 187.81 271.97 186.97 271.1 186.06C270.67 185.61 270.23 185.14 269.81 184.65L269.19 183.89C268.96 183.61 268.79 183.4 268.48 182.97L276 177.65Z"
                fill="#FFB573" />
              <path d="M311 175.88L315.64 165.96L320.07 173.9C320.07 173.9 317.16 178.9 314 178.9L311 175.88Z"
                fill="#FFB573" />
              <path d="M320.9 161.84L325.58 167.86L320.11 173.89L315.68 165.96L320.9 161.84Z" fill="#FFB573" />
              <path
                d="M319.27 176.63H326.64C326.848 176.628 327.048 176.55 327.201 176.41C327.354 176.269 327.45 176.077 327.47 175.87L329 158.2C329.011 158.084 328.998 157.968 328.961 157.858C328.925 157.748 328.865 157.646 328.787 157.561C328.709 157.475 328.614 157.407 328.507 157.36C328.401 157.313 328.286 157.289 328.17 157.29H320.81C320.601 157.292 320.399 157.372 320.246 157.514C320.092 157.657 319.997 157.851 319.98 158.06L318.43 175.72C318.42 175.836 318.435 175.953 318.473 176.063C318.511 176.173 318.571 176.274 318.65 176.36C318.729 176.445 318.825 176.514 318.932 176.56C319.038 176.607 319.154 176.63 319.27 176.63V176.63Z"
                fill="#407BFF" />
              <path opacity="0.3" d="M319.35 174.86H326.73L328.11 159.07H320.73L319.35 174.86Z" fill="white" />
              <path
                d="M318.87 172.62L320.18 171.95C320.847 171.611 321.463 171.18 322.01 170.67L322.25 169.8C322.11 169.568 321.9 169.388 321.649 169.285C321.399 169.183 321.122 169.163 320.86 169.23L319.77 169.53L314.36 169.94L314.23 172.22L315.81 174.66H316.35C316.945 174.681 317.528 174.486 317.992 174.111C318.455 173.736 318.767 173.207 318.87 172.62V172.62Z"
                fill="#FFB573" />
              <path
                d="M266.56 168C270.31 167.32 296.76 190.25 296.76 190.25L288.92 201.75C288.92 201.75 260 181.61 260.92 176.75C261.81 171.64 261.1 169 266.56 168Z"
                fill="#263238" />
              <path opacity="0.2"
                d="M269.9 175.33L269.61 187.33C272.61 189.66 283.45 197.97 283.45 197.97L269.9 175.33Z" fill="black" />
              <path d="M248.93 406.31L257.8 407.18L260.62 386.61L251.74 385.74L248.93 406.31Z" fill="#FFB573" />
              <path d="M161.6 285.61L159.33 294.25L178.52 302.52L182.5 293.75L161.6 285.61Z" fill="#FFB573" />
              <path
                d="M264.15 409C264.913 409.094 265.686 408.924 266.34 408.52C266.481 408.397 266.591 408.242 266.661 408.068C266.73 407.894 266.757 407.706 266.74 407.52C266.74 407.403 266.708 407.289 266.648 407.188C266.588 407.088 266.503 407.006 266.4 406.95C265.33 406.31 261.71 408.03 261.3 408.22C261.261 408.238 261.228 408.268 261.207 408.306C261.185 408.344 261.176 408.387 261.18 408.43C261.186 408.474 261.205 408.515 261.236 408.548C261.266 408.58 261.306 408.602 261.35 408.61C262.27 408.825 263.207 408.956 264.15 409V409ZM265.76 407.21C265.899 407.199 266.039 407.231 266.16 407.3C266.202 407.322 266.237 407.355 266.262 407.395C266.287 407.436 266.3 407.483 266.3 407.53C266.311 407.655 266.292 407.781 266.245 407.897C266.198 408.014 266.124 408.117 266.03 408.2C265.48 408.67 264.03 408.71 262.03 408.33C263.209 407.741 264.481 407.359 265.79 407.2L265.76 407.21Z"
                fill="#407BFF" />
              <path
                d="M261.39 408.57H261.47C262.55 408.12 264.72 406.26 264.58 405.24C264.541 405.063 264.442 404.904 264.3 404.792C264.158 404.679 263.981 404.618 263.8 404.62C263.592 404.581 263.378 404.588 263.172 404.64C262.967 404.692 262.775 404.787 262.61 404.92C261.46 405.81 261.19 408.22 261.17 408.31C261.161 408.346 261.16 408.385 261.169 408.421C261.178 408.458 261.195 408.492 261.22 408.52C261.243 408.54 261.27 408.554 261.3 408.563C261.329 408.571 261.36 408.574 261.39 408.57V408.57ZM263.6 405H263.72C264.11 405.06 264.13 405.21 264.13 405.26C264.22 405.87 262.74 407.35 261.63 407.94C261.736 406.926 262.164 405.973 262.85 405.22C263.072 405.059 263.348 404.991 263.62 405.03L263.6 405Z"
                fill="#407BFF" />
              <path
                d="M257.36 403.6L249.36 403.94C249.188 403.942 249.022 404.007 248.894 404.123C248.767 404.239 248.687 404.398 248.67 404.57L246.75 415.74C246.739 415.93 246.766 416.12 246.829 416.3C246.893 416.479 246.991 416.644 247.118 416.786C247.245 416.927 247.4 417.042 247.572 417.123C247.744 417.204 247.93 417.251 248.12 417.26H248.28C251.77 417.08 253.45 416.82 257.87 416.67C260.58 416.58 268.87 417.56 272.57 416.72C276.27 415.88 275.57 412.21 273.98 412.24C268.84 412.34 262.91 408.99 259.98 405.07C259.47 404.74 257.92 403.57 257.36 403.6Z"
                fill="#263238" />
              <path
                d="M163.41 295.38L167.49 288.45C167.582 288.303 167.616 288.127 167.585 287.957C167.553 287.786 167.459 287.634 167.32 287.53L159 279.86C158.691 279.642 158.309 279.553 157.935 279.613C157.561 279.673 157.226 279.876 157 280.18L156.91 280.32C155.17 283.32 154.48 284.9 152.21 288.69C150.81 291.02 145.47 297.49 144.21 301.02C142.95 304.55 146.37 306.02 147.21 304.64C149.92 300.26 155.95 297.1 160.85 296.72C161.32 296.54 163.13 295.87 163.41 295.38Z"
                fill="#263238" />
              <path opacity="0.2" d="M260.62 386.61L259.17 397.22L250.29 396.35L251.73 385.75L260.62 386.61Z"
                fill="black" />
              <path opacity="0.2" d="M188.4 295.89L184.3 305.14L171.94 299.68L175.09 290.87L188.4 295.89Z"
                fill="black" />
              <path
                d="M272.23 178.55C277.3 187.17 271.1 194.44 265.92 220.2L232.5 220.29C233.04 206.41 232.98 195.19 227.06 167.88C226.906 167.207 226.907 166.508 227.061 165.835C227.215 165.163 227.52 164.533 227.952 163.995C228.383 163.456 228.931 163.022 229.554 162.725C230.178 162.428 230.86 162.276 231.55 162.28C234.31 162.28 237.78 162.37 241.31 162.73C246.878 163.185 252.408 164.024 257.86 165.24C260.817 165.953 263.723 166.862 266.56 167.96C268.28 168.54 270.35 173.22 272.23 178.55Z"
                fill="#263238" />
              <path
                d="M267.16 221.94C267.16 221.94 285.93 276.21 285.48 302.31C285.22 317.26 284.09 345.12 279.58 364.71C275.9 380.71 260.9 390.91 260.9 390.91L248.9 390.2C248.9 390.2 242.4 365.8 243.53 356.09C245.78 336.76 252.45 322.24 251.64 304.49C250.36 275.43 241.76 221.49 241.76 221.49L267.16 221.94Z"
                fill="#E7BDD3" />
              <path d="M246.49 393.33L263.44 394.33L264.98 389.24L246.04 387.49L246.49 393.33Z" fill="#263238" />
              <path opacity="0.2"
                d="M248.63 331.58C248.63 331.58 248.63 331.48 248.73 331.49C259.38 332.49 266.73 317.16 264.98 296.17L259.33 242.67L248.63 331.58Z"
                fill="black" />
              <path
                d="M258.74 221.49C258.74 221.49 273.66 316.92 242.64 327.66C226.27 333.86 212.5 327.14 196.19 319.92C186.76 315.75 174.98 304.46 174.98 304.46L179.51 292.13C187.657 289.927 196.182 289.497 204.51 290.87C220.41 293.33 221.08 297.87 226.73 294.44C238.61 265.08 218.17 241.87 232.06 221.44L258.74 221.49Z"
                fill="#E7BDD3" />
              <path d="M180.4 289.79L174.34 305.78L178.8 309.19L186 290.16L180.4 289.79Z" fill="#263238" />
              <path d="M177.9 203.56C176.39 205.79 168.73 204.28 168.73 204.28L167.1 194.79L176.51 198.56L177.9 203.56Z"
                fill="#FFB573" />
              <path
                d="M169 194.3L170.46 204.16L164.81 205C164.504 205.028 164.198 204.941 163.952 204.756C163.707 204.571 163.538 204.302 163.48 204L161.31 197C161.273 196.837 161.3 196.666 161.386 196.523C161.472 196.38 161.609 196.275 161.77 196.23L169 194.3Z"
                fill="#FFB573" />
              <path
                d="M166.47 198.77L169.69 199.34L172.74 197.05L171.56 196.21C170.76 195.641 170.198 194.797 169.98 193.84C169.753 192.837 169.616 191.817 169.57 190.79V190.45C169.532 190.148 169.395 189.868 169.182 189.651C168.969 189.434 168.691 189.293 168.39 189.25L167.59 189.84C167.09 190.93 167.45 192.2 167.39 193.05L167.26 194.7L165.97 195.26L166.47 198.77Z"
                fill="#FFB573" />
              <path
                d="M228.67 166L209.75 192L175 198.86V204.56C175 204.56 207.66 206.98 215 202.71C222.34 198.44 234.65 172.54 234.65 172.54L228.67 166Z"
                fill="#FFB573" />
              <path
                d="M228.45 116C220.51 113.34 211.3 118.27 207.67 125.81C204.04 133.35 205.31 142.6 209.4 149.9C210.63 152.11 212.1 154.19 213.11 156.5C214.232 158.79 214.478 161.412 213.8 163.87C212.98 166.26 212.14 167.79 209.18 167.41C209.18 167.41 209.18 165.77 210.31 165.97C210.31 165.97 207.91 167.3 206.97 166.43C208.06 168.11 210.97 167.5 211.9 165.72C213.29 163.07 210.73 159.48 207.73 159.51C204.73 159.54 202.29 162.58 202.39 165.57C202.515 167.065 203.047 168.498 203.929 169.713C204.81 170.927 206.007 171.877 207.39 172.46C206.579 172.594 205.747 172.455 205.024 172.066C204.3 171.677 203.726 171.06 203.39 170.31C204.75 173.87 209.19 175.44 212.94 174.74C216.69 174.04 219.86 171.64 222.8 169.21C226.8 165.93 230.89 161.78 230.8 156.65C230.71 152.82 228.25 149.53 226.18 146.3C224.11 143.07 222.3 139.13 223.62 135.54C224.73 132.49 227.75 130.65 230.41 128.79C232.33 127.46 236.23 124.49 235.77 121.68C235.3 119 230.7 116.75 228.45 116Z"
                fill="#263238" />
              <path
                d="M210.56 205L205.32 191.13L206.52 191.23C207.491 191.311 208.465 191.111 209.325 190.654C210.185 190.196 210.895 189.501 211.37 188.65C215.37 181.53 225.7 163.46 228.61 162.56C232.76 161.33 237.03 164.65 238.61 169.56C239.8 173.17 227.61 188.65 221.99 197.45C217 205.24 210.56 205 210.56 205Z"
                fill="#263238" />
              <path
                d="M159.45 299.94V300.05C159.524 300.242 159.645 300.413 159.802 300.546C159.96 300.679 160.148 300.77 160.35 300.81C160.471 300.848 160.6 300.854 160.725 300.828C160.849 300.802 160.964 300.744 161.06 300.66C161.9 299.89 161.36 296.66 161.31 296.34C161.304 296.298 161.286 296.26 161.257 296.229C161.229 296.199 161.191 296.178 161.15 296.17C161.111 296.165 161.072 296.17 161.035 296.184C160.998 296.198 160.966 296.221 160.94 296.25C160.26 297.21 159.18 298.92 159.45 299.94ZM160.99 296.94C161.17 298.22 161.25 299.94 160.78 300.36C160.731 300.387 160.676 300.401 160.62 300.401C160.564 300.401 160.509 300.387 160.46 300.36C160.326 300.335 160.2 300.276 160.095 300.188C159.99 300.101 159.909 299.988 159.86 299.86C159.68 299.32 160.06 298.22 160.99 296.92V296.94Z"
                fill="#407BFF" />
              <path
                d="M161 296.76C161.26 297.84 162.28 299.68 163.18 299.9C163.344 299.933 163.514 299.909 163.663 299.833C163.812 299.757 163.931 299.632 164 299.48C164.078 299.337 164.124 299.179 164.135 299.017C164.145 298.854 164.12 298.692 164.06 298.54C163.65 297.3 161.29 296.28 161.19 296.23C161.158 296.213 161.122 296.203 161.085 296.203C161.048 296.203 161.012 296.213 160.98 296.23C160.951 296.254 160.928 296.285 160.914 296.32C160.9 296.355 160.895 296.393 160.9 296.43C160.925 296.542 160.958 296.653 161 296.76V296.76ZM163.72 298.76C163.74 298.848 163.743 298.94 163.727 299.029C163.712 299.118 163.679 299.204 163.63 299.28C163.5 299.52 163.37 299.52 163.27 299.5C162.66 299.38 161.73 297.87 161.43 296.82C162.2 297.21 163.43 297.94 163.69 298.7C163.683 298.719 163.683 298.741 163.69 298.76H163.72Z"
                fill="#407BFF" />
              <path
                d="M232.38 218.6L231.45 221.85C231.33 222.1 231.62 222.36 232.04 222.35H266.54C266.87 222.35 267.14 222.18 267.16 221.98L267.48 218.73C267.48 218.51 267.22 218.31 266.86 218.32H232.96C232.847 218.311 232.734 218.333 232.632 218.382C232.53 218.431 232.443 218.506 232.38 218.6V218.6Z"
                fill="#407BFF" />
              <path opacity="0.5"
                d="M232.38 218.6L231.45 221.85C231.33 222.1 231.62 222.36 232.04 222.35H266.54C266.87 222.35 267.14 222.18 267.16 221.98L267.48 218.73C267.48 218.51 267.22 218.31 266.86 218.32H232.96C232.847 218.311 232.734 218.333 232.632 218.382C232.53 218.431 232.443 218.506 232.38 218.6V218.6Z"
                fill="white" />
              <path
                d="M239 222.65H238C237.81 222.65 237.65 222.55 237.67 222.43L238.12 218.2C238.12 218.08 238.31 217.98 238.51 217.98H239.51C239.7 217.98 239.85 218.08 239.84 218.21L239.39 222.43C239.33 222.55 239.15 222.66 239 222.65Z"
                fill="#407BFF" />
              <path
                d="M263.87 222.65H262.87C262.69 222.65 262.53 222.55 262.55 222.43L263 218.21C263 218.08 263.18 217.98 263.37 217.98H264.37C264.56 217.98 264.72 218.08 264.7 218.2L264.25 222.42C264.23 222.55 264.07 222.65 263.87 222.65Z"
                fill="#407BFF" />
              <path
                d="M252.46 222.63H251.46C251.27 222.63 251.11 222.53 251.13 222.41L251.58 218.19C251.58 218.06 251.77 217.96 251.96 217.96H252.96C253.15 217.96 253.3 218.06 253.29 218.18L252.83 222.4C252.83 222.53 252.66 222.63 252.46 222.63Z"
                fill="#407BFF" />
              <path
                d="M242.87 144.53C243.93 149.98 244.97 159.82 241.27 162.78C241.27 162.78 242.75 168.37 252.64 169.86C263.56 171.5 257.83 165.28 257.83 165.28C251.88 162.93 252.03 158.63 253.05 154.67L242.87 144.53Z"
                fill="#FFB573" />
              <path
                d="M241.31 162.73C246.587 163.065 251.832 163.793 257 164.91L264.48 167.14C265.81 169.82 263.63 175.33 257.37 176.38C257.37 176.38 241.6 178.55 236.95 162.31L241.31 162.73Z"
                fill="#FFB573" />
              <path opacity="0.2"
                d="M247 148.68L253 154.68C252.747 155.609 252.583 156.56 252.51 157.52C250.23 156.85 246.57 154.34 246.32 151.94C246.323 150.818 246.554 149.709 247 148.68V148.68Z"
                fill="black" />
              <path
                d="M236.19 137.65C238.87 146.11 239.81 149.75 245.3 153.08C253.48 158.08 263.3 152.96 263.2 143.88C263.12 135.7 258.77 123.24 249.48 121.88C247.438 121.574 245.352 121.796 243.419 122.524C241.487 123.252 239.773 124.462 238.441 126.04C237.109 127.618 236.203 129.51 235.809 131.537C235.415 133.564 235.546 135.658 236.19 137.62V137.65Z"
                fill="#FFB573" />
              <path
                d="M256.38 136.33C257.326 137.815 258.474 139.161 259.79 140.33C259.482 140.663 259.105 140.926 258.685 141.098C258.266 141.271 257.813 141.35 257.36 141.33L256.38 136.33Z"
                fill="#ED893E" />
              <path
                d="M255.43 145.85C255.769 145.813 256.103 145.746 256.43 145.65C256.456 145.644 256.48 145.633 256.501 145.618C256.523 145.603 256.541 145.583 256.555 145.561C256.569 145.539 256.578 145.514 256.582 145.488C256.587 145.462 256.586 145.436 256.58 145.41C256.566 145.357 256.532 145.313 256.485 145.285C256.439 145.257 256.383 145.248 256.33 145.26C255.476 145.495 254.579 145.527 253.711 145.354C252.843 145.18 252.027 144.806 251.33 144.26C251.289 144.219 251.233 144.196 251.175 144.196C251.117 144.196 251.061 144.219 251.02 144.26C251 144.28 250.984 144.303 250.973 144.329C250.963 144.354 250.957 144.382 250.957 144.41C250.957 144.438 250.963 144.466 250.973 144.491C250.984 144.517 251 144.54 251.02 144.56C251.634 145.054 252.34 145.423 253.097 145.644C253.853 145.865 254.646 145.935 255.43 145.85V145.85Z"
                fill="#263238" />
              <path
                d="M233.28 120.76C232.178 121.473 231.263 122.44 230.612 123.579C229.961 124.719 229.594 125.999 229.54 127.31C229.495 127.811 229.574 128.316 229.77 128.78C229.869 129.009 230.026 129.209 230.226 129.358C230.426 129.507 230.662 129.601 230.91 129.63C231.67 129.63 232.23 128.95 232.65 128.31L234.59 125.31C235.389 124.335 236.061 123.264 236.59 122.12C237.24 120.15 234.47 120 233.28 120.76Z"
                fill="#407BFF" />
              <path
                d="M234.23 122.75C228.92 128.89 226.54 145.88 242.1 150.62C244.7 148.56 240.5 144.81 238.72 140.07C237.55 136.97 243.48 131.18 245.79 128.8C248.1 126.42 250.23 122.99 253.49 123.54C254.318 123.817 255.209 123.841 256.05 123.61C258.64 122.44 257.38 120.89 256.05 119.81C254.01 118.3 251.582 117.405 249.05 117.23C246.319 116.908 243.551 117.241 240.974 118.201C238.397 119.161 236.085 120.72 234.23 122.75V122.75Z"
                fill="#263238" />
              <path
                d="M251.5 120.69C257.75 125.9 249.5 126.03 245.13 129.33C240.94 132.5 243.88 137.69 236.79 140.1C231 141.79 229.66 140.77 228.06 139.65C230.043 139.307 231.857 138.318 233.218 136.836C234.58 135.355 235.414 133.465 235.59 131.46C236.08 127.66 244.36 114.65 251.5 120.69Z"
                fill="#263238" />
              <path
                d="M235.25 144.76C236.229 146.17 237.723 147.14 239.41 147.46C241.65 147.85 242.51 145.8 241.74 143.8C241.01 142 238.98 139.63 236.81 140.14C236.064 140.333 235.425 140.814 235.033 141.478C234.641 142.141 234.529 142.933 234.72 143.68C234.822 144.072 235.002 144.439 235.25 144.76V144.76Z"
                fill="#FFB573" />
              <path
                d="M250.43 121.22C251.64 124.3 255.13 123.89 257.71 127.11C259.3 129.11 262.42 122.94 258.17 120.51C253.92 118.08 248.53 116.4 250.43 121.22Z"
                fill="#263238" />
              <path
                d="M246.75 134.22C246.839 134.23 246.929 134.21 247.006 134.166C247.083 134.121 247.144 134.052 247.18 133.97C248 132.15 250.46 131.69 250.48 131.69C250.59 131.666 250.686 131.601 250.749 131.508C250.813 131.415 250.838 131.301 250.82 131.19C250.798 131.082 250.735 130.986 250.643 130.924C250.551 130.863 250.439 130.839 250.33 130.86C250.2 130.86 247.4 131.45 246.4 133.65C246.355 133.752 246.353 133.868 246.392 133.972C246.431 134.077 246.509 134.162 246.61 134.21H246.75V134.22Z"
                fill="#263238" />
              <path
                d="M259.75 130.54C259.823 130.545 259.896 130.53 259.962 130.497C260.027 130.463 260.082 130.413 260.12 130.35C260.152 130.305 260.174 130.254 260.186 130.2C260.198 130.146 260.198 130.091 260.188 130.037C260.178 129.983 260.157 129.931 260.126 129.885C260.096 129.839 260.056 129.8 260.01 129.77V129.77C259.456 129.386 258.818 129.142 258.15 129.056C257.481 128.971 256.802 129.048 256.17 129.28C256.117 129.301 256.07 129.332 256.03 129.372C255.99 129.412 255.958 129.459 255.938 129.512C255.917 129.565 255.907 129.621 255.91 129.677C255.912 129.734 255.925 129.789 255.95 129.84C255.994 129.942 256.077 130.022 256.18 130.064C256.283 130.105 256.398 130.103 256.5 130.06V130.06C256.997 129.886 257.529 129.834 258.051 129.907C258.573 129.98 259.069 130.176 259.5 130.48C259.578 130.518 259.663 130.538 259.75 130.54V130.54Z"
                fill="#263238" />
              <path
                d="M300.86 185.28L295 188.61L288.91 201.71C288.91 201.71 294.79 205.45 299.43 202.42C304.07 199.39 300.86 185.28 300.86 185.28Z"
                fill="#407BFF" />
              <path opacity="0.5"
                d="M300.86 185.28L295 188.61L288.91 201.71C288.91 201.71 294.79 205.45 299.43 202.42C304.07 199.39 300.86 185.28 300.86 185.28Z"
                fill="white" />
              <path
                d="M198.39 189.33L205.32 191.33L211.89 204.92C211.89 204.92 206.61 209.81 200.89 205.14C196.61 201.6 198.39 189.33 198.39 189.33Z"
                fill="#407BFF" />
              <g opacity="0.5">
                <path opacity="0.5"
                  d="M198.39 189.33L205.32 191.33L211.89 204.92C211.89 204.92 206.61 209.81 200.89 205.14C196.61 201.6 198.39 189.33 198.39 189.33Z"
                  fill="white" />
              </g>
              <path
                d="M259.35 133.93C259.83 133.84 260.35 134.38 260.46 135.12C260.57 135.86 260.3 136.54 259.82 136.62C259.34 136.7 258.82 136.17 258.71 135.43C258.6 134.69 258.87 134 259.35 133.93Z"
                fill="#263238" />
              <path d="M260.83 133.2L259.14 134.03C260.16 134.75 260.83 133.2 260.83 133.2Z" fill="#263238" />
              <path
                d="M251 135.65C251.48 135.56 252 136.1 252.11 136.84C252.22 137.58 251.95 138.26 251.47 138.34C250.99 138.42 250.47 137.89 250.36 137.15C250.25 136.41 250.5 135.74 251 135.65Z"
                fill="#263238" />
              <path d="M252.46 134.92L250.77 135.75C251.79 136.47 252.46 134.92 252.46 134.92Z" fill="#263238" />
              <path
                d="M208.66 173.91C207.718 173.915 206.785 173.739 205.91 173.39C202.81 172.12 201.37 168.9 201.91 164.54C201.927 164.409 201.996 164.29 202.101 164.209C202.206 164.129 202.339 164.093 202.47 164.11C202.535 164.117 202.599 164.138 202.656 164.17C202.714 164.203 202.764 164.246 202.804 164.299C202.844 164.351 202.873 164.411 202.89 164.474C202.906 164.538 202.91 164.605 202.9 164.67C202.38 168.54 203.6 171.38 206.25 172.46C207.788 172.986 209.453 173.013 211.007 172.535C212.561 172.057 213.924 171.1 214.9 169.8C217.41 166.46 216.59 161.72 212.68 156.8C202.44 143.95 203.12 137.12 204.57 131.72C206.67 123.88 212.82 114.9 230.22 116.63C230.353 116.643 230.474 116.709 230.559 116.812C230.643 116.915 230.683 117.047 230.67 117.18C230.657 117.313 230.591 117.434 230.488 117.519C230.385 117.603 230.253 117.643 230.12 117.63C213.43 115.97 207.53 124.53 205.53 131.99C204.09 137.39 203.53 143.7 213.46 156.19C219.46 163.72 217.03 168.65 215.7 170.41C214.868 171.488 213.802 172.363 212.582 172.969C211.363 173.576 210.022 173.897 208.66 173.91V173.91Z"
                fill="#263238" />
            </svg>
          </div>
        </div>
      </main>
    </div>
  </div>
</body>

</html>