<div class="header">
  <h1>Sign In</h1>
  <p>The Future's Bright. The Future's Dreams</p>
</div>

<div class="half-container">
  <button class="button special">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="48px">
      <path fill="#fbc02d"
        d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12	s5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20	s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z" />
      <path fill="#e53935"
        d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039	l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z" />
      <path fill="#4caf50"
        d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36	c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z" />
      <path fill="#1565c0"
        d="M43.611,20.083L43.595,20L42,20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571	c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z" />
    </svg>
    Sign in with Google
  </button>
  <button class="button special">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="48px">
      <linearGradient id="Ld6sqrtcxMyckEl6xeDdMa" x1="9.993" x2="40.615" y1="9.993" y2="40.615"
        gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#2aa4f4" />
        <stop offset="1" stop-color="#007ad9" />
      </linearGradient>
      <path fill="url(#Ld6sqrtcxMyckEl6xeDdMa)"
        d="M24,4C12.954,4,4,12.954,4,24s8.954,20,20,20s20-8.954,20-20S35.046,4,24,4z" />
      <path fill="#fff"
        d="M26.707,29.301h5.176l0.813-5.258h-5.989v-2.874c0-2.184,0.714-4.121,2.757-4.121h3.283V12.46 c-0.577-0.078-1.797-0.248-4.102-0.248c-4.814,0-7.636,2.542-7.636,8.334v3.498H16.06v5.258h4.948v14.452 C21.988,43.9,22.981,44,24,44c0.921,0,1.82-0.084,2.707-0.204V29.301z" />
    </svg>
    Sign in with Facebook
  </button>
</div>

<div class="divider-wrap">
  <div class="divider"></div>
  <span>OR</span>
  <div class="divider"></div>
</div>

<div class="form login">
  <form id="auth-login-form" method="post" action="/api/auth/login">

    <fieldset>
      <legend>
        Email
        <span style="color: orangered;">*</span>
      </legend>
      <div class="tooltip">
        <span>
          <code>i</code>
          <p>Enter a valid email</p>
        </span>
      </div>
      <div class="avalid input">
        <input tabindex="1" id="email" name="email" required type="email" autocomplete="off" />
        <span class="hidden">&check;</span>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        Password
        <span style="color: orangered;">*</span>
      </legend>
      <div class="tooltip">
        <span>
          <code>i</code>
          <p>Password must contain minimum eight characters having at least one letter, one number and one special
            character
          </p>
        </span>
      </div>
      <div class="avalid input">
        <input tabindex="2" id="password" name="password" required type="password" minlength="8" autocomplete="off" />
        <button type="button" class="toggle">show</button>
        <span class="hidden">&check;</span>
      </div>
    </fieldset>

    <button tabindex="3" id="login-submit" style="margin-top: 16px;" class="button submit" type="submit">Sign
      In</button>
  </form>
  <div class="footer">
    <p>Don't have an account ?
      <a href="/register">
        <span>Create a new account</span>
      </a>
    </p>
  </div>
</div>

<script src="/js/login.js"></script>